.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:240px;
    top:240px;
    width:0px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    /* background-color:;
    color:; */
    height:0px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-3px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:11px;
    font-size:16px;
}
.sticky li p a{
    text-decoration:none;
    /* color:; */
}
.sticky li p a:hover{
    text-decoration:underline;
}